<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>vue无限滚动</title>
    <style>
        .scroll-container {
            width: 80%;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="scroll-container">
            <div v-for="item in data" :key="index" style="border: 1px solid #eee">
                <div style="padding: 10px">
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.body }}</p>
                </div>
            </div>

            <div style="text-align: center">
                <div v-if="isLoading">
                    Loading
                </div>
            </div>
        </div>
    </div>
    <script src="./js/rollaway.js"></script>
</body>

</html>